*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    width:100vw;
    height:100vh;

    overflow:hidden;

    background:#000;

    font-family:"Trebuchet MS", sans-serif;

}


/* ======================
MENU INICIAL
====================== */


#menu{

    position:relative;

    width:100%;
    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    overflow:hidden;

}



#background{

    position:absolute;

    inset:0;

    background-image:url("imagens/fundo.png");

    background-size:cover;

    background-position:center;

    z-index:0;

}



#nevoa{

position:absolute;

inset:0;

background:rgba(0,0,0,.45);

z-index:1;

pointer-events:none;

}



/* ======================
RELÂMPAGO
====================== */


#lightning{

    position:absolute;

    inset:0;

    pointer-events:none;

    opacity:0;

    z-index:2;

}



/* ======================
TÍTULO
====================== */


h1{

    position:relative;

    z-index:3;

    font-family:"Nosifer",cursive;

    font-size:80px;

    color:#c40000;

    letter-spacing:5px;

    text-align:center;

    text-shadow:

    0 0 10px #ff0000,
    0 0 25px #8b0000;

}



/* ======================
BOTÕES
====================== */


button{

    cursor:pointer;

    font-weight:bold;

}



#start,
#config{


    position:relative;

    z-index:3;


    width:260px;


    padding:16px;


    margin-top:15px;


    background:rgba(20,20,20,.85);


    color:white;


    border:2px solid #8b0000;


    border-radius:12px;


    font-size:22px;


    letter-spacing:3px;


    transition:.3s;

}



#start:hover,
#config:hover{


    background:#8b0000;


    box-shadow:0 0 20px #8b0000;


    transform:scale(1.05);

}



/* ======================
JOGO
====================== */


#gameScreen{

    display:none;

    position:absolute;

    inset:0;

    background:#000;

    z-index:10;

}



/* ======================
CONFIGURAÇÕES
====================== */


#settingsScreen{


    display:none;


    position:absolute;


    inset:0;


    background:#000;


    color:white;


    z-index:20;

}




#settingsSide{


    position:absolute;


    right:50px;


    top:50%;


    transform:translateY(-50%);


    display:flex;


    flex-direction:column;


    gap:20px;

}



.settingOption{


    width:220px;


    padding:15px;


    background:#111;


    color:white;


    border:2px solid #8b0000;


    border-radius:10px;


    font-size:20px;

}



.settingOption:hover,
.settingOption.ativo{


    background:#8b0000;

}



#settingsContent{


    position:absolute;


    top:50%;


    left:50%;


    transform:translate(-50%,-50%);


    text-align:center;

}



#settingsContent h2{


    font-family:"Nosifer",cursive;


    color:#c40000;


    font-size:40px;

}



#settingInfo{


    margin-top:35px;


    font-size:22px;

}



#backSettings{


    position:absolute;


    bottom:40px;


    left:50%;


    transform:translateX(-50%);


    width:200px;


    padding:15px;


    background:#111;


    color:white;


    border:2px solid #8b0000;


    border-radius:10px;

}



/* ======================
BARRAS
====================== */


input[type="range"]{


    width:300px;


    height:8px;


    accent-color:#8b0000;

}



/* ======================
TRANSIÇÃO
====================== */


#transitionScreen{


    position:fixed;


    inset:0;


    background:#000;


    opacity:0;


    display:none;


    z-index:9999;


    transition:.6s;

}



#transitionScreen.show{


    display:block;


    opacity:1;

}



/* ======================
TELA NICKNAME
====================== */


#nicknameScreen{


    display:none;


    position:absolute;


    inset:0;


    background:#000;


    overflow:hidden;


    z-index:15;

}




#nicknameFog{

position:absolute;

inset:0;

background:
radial-gradient(circle,
rgba(255,255,255,.08),
transparent 70%);

animation:fogMove 15s linear infinite;

opacity:.8;

pointer-events:none;

}


@keyframes fogMove{


    0%{

        transform:translateX(-80px);

    }


    50%{

        transform:translateX(80px);

    }


    100%{

        transform:translateX(-80px);

    }

}




#nicknamePanel{


    position:absolute;


    top:50%;


    left:50%;


    transform:translate(-50%,-50%);


    width:420px;


    padding:35px;


    background:rgba(20,20,20,.92);


    border:2px solid #8b0000;


    border-radius:15px;


    text-align:center;


    z-index:2;

}




#nicknamePanel h2{


    font-family:"Nosifer",cursive;


    color:#c40000;


    margin-bottom:15px;

}



#nicknamePanel p{


    color:white;


    margin-bottom:15px;


    font-size:20px;

}




#playerName{


    width:100%;


    padding:15px;


    font-size:20px;


    border:none;


    border-radius:8px;


    margin-bottom:25px;


    background:#222;


    color:white;

}




.screenButtons{


    display:flex;


    justify-content:space-between;


    gap:15px;

}



.screenButtons button{


    flex:1;


    padding:15px;


    font-size:18px;


    background:#111;


    color:white;


    border:2px solid #8b0000;


    border-radius:10px;


    transition:.3s;

}



.screenButtons button:hover{


    background:#8b0000;


    transform:scale(1.03);

}
